<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775283399791-elv49timds4soopuuqbp3qeaq9l0fic1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775283399791-elv49timds4soopuuqbp3qeaq9l0fic1</string>
	<key>API_KEY</key>
	<string>AIzaSyA0kRY5uSFIUv2ocYNcHu1oEyQzdB4sw2k</string>
	<key>GCM_SENDER_ID</key>
	<string>775283399791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.health.medlynk</string>
	<key>PROJECT_ID</key>
	<string>medlynk-7615f</string>
	<key>STORAGE_BUCKET</key>
	<string>medlynk-7615f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775283399791:ios:1198615802f4fb789a019a</string>
	<key>DATABASE_URL</key>
	<string>https://medlynk-7615f.firebaseio.com</string>
</dict>
</plist>